.primary-heading {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 60px 0 50px;

  .nasa-collection {
    color: $black-color;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1.21px;
    line-height: 60px;
    opacity: 0.30327;
  }

  .btn {
    .icon {
      font-size: 20px;
      margin-right: 10px;
    }
  }
}

.behavior-box {
  margin-top: 10px;

  .icon {
    color: rgba($black-color, 0.3);
    border: 1px solid rgba($grey-color, 0.4);
    border-radius: 3px;
    width: 44px;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    font-size: 20px;
    transition: all .2s ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    &.active-favorite {
      color: #E54D42;
    }

    &:hover {
      border-color: $grey-color;
      color: $black-color;
    }
  }
}